body {
    background-color: $body-color;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.618;
}

h1 {
    padding: 10px 0;
    font-size: 2rem;
    font-weight: bold;
}

p {
    padding: 10px 0;
}

a {
    color: $secondary-color;
    text-decoration: none;
    transition: color $transition-time, background-color $transition-time;
    &:hover {
        color: $primary-color;
    }
}

.img--responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.center {
    text-align: center;

    &--block {
        margin: 0 auto;
    }
}
