// Based on [Eric Meyer's reset](http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/)
@mixin global-reset() {
    a,
    abbr,
    acronym,
    address,
    applet,
    big,
    blockquote,
    body,
    caption,
    cite,
    code,
    dd,
    del,
    dfn,
    div,
    dl,
    dt,
    em,
    fieldset,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    html,
    iframe,
    img,
    ins,
    kbd,
    label,
    legend,
    li,
    object,
    ol,
    p,
    pre,
    q,
    s,
    samp,
    small,
    span,
    strike,
    strong,
    sub,
    sup,
    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr,
    tt,
    ul,
    var {
        @include reset-box-model();
        @include reset-font();
    }

    body {
        @include reset-body();
    }

    ol,
    ul {
        list-style: none;
    }

    table {
        @include reset-table();
    }

    caption,
    td,
    th {
        @include reset-table-cell();
    }

    a img {
        border: none;
    }
}
@mixin nested-reset() {
    a,
    abbr,
    acronym,
    address,
    caption,
    code,
    dd,
    del,
    dfn,
    div,
    dl,
    dt,
    em,
    fieldset,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    iframe,
    img,
    label,
    legend,
    li,
    object,
    ol,
    p,
    pre,
    span,
    tbody,
    tfoot,
    thead,
    tr,
    ul {
        @include reset-box-model();
        @include reset-font();
    }

    table {
        @include reset-table();
    }

    caption,
    td,
    th {
        @include reset-table-cell();
    }

    a img {
        border: none;
    }
}
@mixin reset-box-model() {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
@mixin reset-font() {
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
@mixin reset-body() {
    line-height: 1;
    color: black;
    background: white;
}
@mixin reset-table() {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}
@mixin reset-table-cell() {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
@mixin html5-reset() {
    article,
    aside,
    canvas,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        @include reset-box-model();
        display: block;
    }

    audio,
    canvas,
    video {
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }

    [hidden],
    audio:not([controls]) {
        display: none;
    }
}
@include global-reset();
@include nested-reset();
@include html5-reset();
