$primary-color: #4dba87;
$secondary-color: #435466;
$white: #fff;
$grey: #eee;
$black: #000;
$app-color: $white;
$body-color: $grey;
$shadow-color: $black;
$transition-time: 250ms cubic-bezier(1, 0.5, 0.8, 1);
